::placeholder {
  color: #fff;
}

.container {
  position: relative;
}

.container .sub_container {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .sub_container > .register_content {
  background-image: url("/images/bg.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  justify-items: center;
  background-position: center;
  grid-template-rows: 1fr 100px;

  background-repeat: no-repeat;

  background-clip: border-box;
  background-attachment: scroll;
}

.container .sub_container .register_content .main_login {
  height: 100ch;
  display: grid;
  width: 60ch;
  place-content: center;
  place-items: center;
  justify-items: start;

  background-image: url("/images/bgform.svg");
  background-size: cover;
  background-position: top right;
  border-radius: 2px;
  grid-template-rows: 0.1fr 2fr;
  transition: all 0.2s linear;
  grid-template-areas:
    "Regs"
    "Login";
}

/*Login*/
.container .sub_container .register_content .main_login .form_login {
  padding: 10px 20px;
  transition: all 0.2s linear;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 70ch;
  animation: Apper forwards linear 200ms;
  grid-area: Login;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  .title_form {
  color: #fff;
  font-size: 2rem;

  font-weight: 100;
  text-align: center;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  > .form_login-fields:not(.title_form):nth-child(1n) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  .form_login-fields
  #password,
#email {
  background-color: transparent;
  padding: 8px 28px;
  font-size: 1.3rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #fff;
  width: 280px;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  .form_login-fields
  #password:focus,
#email:focus {
  border-bottom: 1px solid #61a9ec;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  .form_login-fields
  > label {
  color: rgb(250, 250, 250);
  position: absolute;
  top: -20px;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  > .form_login-fields:nth-child(4) {
  width: 100%;
  align-self: flex-start;
  flex-shrink: 10;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_login
  > .form_login-fields:nth-child(4)
  [type="submit"] {
  padding: 5px 15px;
  outline: none;
  margin-top: 4px;
  width: 100%;
  border: none;
  background-color: #3d3dff;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 7px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
/**/
.container .sub_container .register_content .main_login .button_next {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  grid-area: Regs;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.container
  .sub_container
  .register_content
  .main_login
  .button_next
  .button_register,
.button_login {
  display: inline-block;
  border-radius: 2px;
  padding: 5px 5ch;
  margin-top: auto;
  background-color: #170927;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.container .sub_container .register_content .main_login .button_next .active {
  border: 1px solid #fff;
}

.container
  .sub_container
  .register_content
  .main_login
  .button_next
  .button_register
  span,
.button_login span {
  position: relative;
}

/*Register*/
.container .sub_container .register_content .main_login .form_register {
  transition: all 0.2s linear;
  margin-top: 10px;
  height: 80ch;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: Apper forwards linear 0.2s;
  grid-area: Login;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .title_form {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
  border-bottom: 10px solid rgb(255, 255, 255);
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:not(.title_form):nth-child(1n) {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.container .sub_container .register_content .main_login .form_register > #date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(5)
  .label_div-group {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 55px;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(5)
  .date_div-group {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(5)
  .date_div-group
  input {
  background-color: transparent;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 5px;
  appearance: none;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(5)
  .label_div-group
  .label_date {
  position: relative;
  top: 0;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(5)
  label {
  position: relative;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(5)
  input {
  width: 80px;
  text-align: center;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields
  label {
  position: absolute;
  color: #fff;
  top: -15px;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(2)
  input,
.form_register--fields:nth-child(3) input,
.form_register--fields:nth-child(4) input {
  background-color: transparent;
  border-bottom: 1px solid rgb(240, 239, 253);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 250px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(6)
  input {
  width: 100%;
  padding: 5px 15px;
  background-color: #3d3dff;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: bold;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .form_register--fields:nth-child(2)
  input:focus,
.form_register--fields:nth-child(3) input:focus,
.form_register--fields:nth-child(4) input:focus {
  border-bottom: 1px solid #2c4964;
}

.container
  .sub_container
  .register_content
  .main_login
  .form_register
  .messages_register
  .span_check {
  padding: 5px 20px;
  color: #fff;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10px;
}

@keyframes Apper {
  from {
    opacity: 0.2;
    filter: hue-rotate(90deg);
  }
  to {
    opacity: 1;
    filter: hue-rotate(90deg);
  }
}
